<div>
    <b>Filter</b>: <input [(ngModel)]="filterText" type="text" placeholder="Add filter text here"
                          size="50"/>
    <hr>

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Created</th>
            <th>Sent</th>
        </tr>
        <tr *ngFor="#note of heroes | messageFilter: filterText" >
            <td>{{note.id}}</td>
            <td>{{note.message}}</td>
            <td>{{note.created}}</td>
            <td>{{note.sent}}</td>
        </tr>
    </table>
</div>