<!DOCTYPE html>
<html ng-app="notesApp">
<head>
<title>Notes App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl as mainCtrl">
<h1>Groovy Notes</h1>
  <button ng-click="mainCtrl.open('list')">List</button>
  <button ng-click="mainCtrl.open('new')">New</button>
  <div ng-switch on="mainCtrl.tab">

    <div ng-switch-when="list">
      <div ng-controller="SubCtrl as ctrl">
        <h3>List Notes</h3>
        <table>
          <tr>
            <th>Message</th>
            <th>Created</th>
            <th>Sent</th>
          </tr>
          <tr ng-repeat="note in mainCtrl.notes">
            <td><span ng-bind="note.message"></span></td>
            <td><span ng-bind="note.created"></span></td>
            <td><span ng-bind="note.sent"></span></td>
        </table>

      </div>
    </div>

    <div ng-switch-when="new">
      <div ng-controller="SubCtrl as ctrl">
        <h3>New Note</h3>
      </div>
    </div>
  </div>
</body>
</html>
