<!DOCTYPE html>
<html ng-app="notesApp">
<head>
<title>Notes App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl as mainCtrl">
<h1>Angular JS Services</h1>
  <div ng-repeat="note in mainCtrl.notes">
    <div><span ng-bind="note.message"></span></div>
    <div> created <span ng-bind="note.created"></span></div>
  </div>

  <button ng-click="mainCtrl.open('first')">First</button>
  <button ng-click="mainCtrl.open('second')">Second</button>
  <div ng-switch on="mainCtrl.tab">

    <div ng-switch-when="first">
      <div ng-controller="SubCtrl as ctrl">
        <h3>First Tab</h3>
      </div>
    </div>

    <div ng-switch-when="second">
      <div ng-controller="SubCtrl as ctrl">
        <h3>Second Tab</h3>
      </div>
    </div>
  </div>
</body>
</html>
