<div>
    <b>Filter</b>: <input ng-model="filterText" type="text" placeholder="Add filter text here"
                          size="50"/>
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Created</th>
            <th>Sent</th>
        </tr>
        <tr ng-repeat="note in notes | filter:{message:filterText}">
            <td><span ng-bind="note.id"></span></td>
            <td><span ng-bind="note.message"></span></td>
            <td><span ng-bind="note.created | date : 'MMM d, yyyy h:mm a'"></span></td>
            <td><span ng-bind="note.sent | date : 'MMM d, yyyy h:mm a'"></span></td>
        </tr>
    </table>
</div>
